.container {
  max-width: 60rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  p {
    margin-bottom: 10px;
  }

  span {
    max-width: 40rem;
  }
}
