body {
  font-family: "Computer Modern Serif", sans-serif;
}
@keyframes camera-focus {
  from {
    filter: blur(10px);
    transform: scale3d(1.4, 1.4, 1) rotate(-20deg);
    opacity: 0;
  }
  to {
    filter: blur(0px);
    transform: scale3d(1, 1, 1) rotate(0deg);
    opacity: 1;
  }
}
img.logo {
  animation-duration: 0.5s;
  animation-name: camera-focus;
}
