{{define "head"}}{{end}}
{{define "content"}}
<main class="blog-index">
	<section class="small-container">
		<h1>Blog</h1>
	</section>

	<section class="small-container">
{{ range .Posts }}
{{ if and (not .IsDraft) .Index }}
		<figure class="blog-figure">
			<a href="/blog/{{ .Slug }}.html"> 
				<figcaption>
					<span>{{ .Title }}</span>
				</figcaption>
			</a>
			<p style="margin-bottom:16px;">on {{ .FormatDate }} by {{range .Authors}}<a href="/team#{{.Handle}}">{{.Name}}</a> {{end}}</p>
			<p>{{ .Description }}</p>
			<small>Reading time: {{ .ReadingTime }} minutes</small>
		</figure>
{{ end }}
{{ end }}
	</section>

</main>
{{end}}
