{{define "head"}}{{end}}
{{define "content"}}
<main>
	<section>
		<div class="client__logo">{{.Client.Image}}</div>
		<h2 class="visuallyhidden">{{.Client.Name}}</h2>
		<p>{{.Client.Body}}</p>
	</section>
	{{ range .Client.Projects }}
	<section>
		<div class="findings">
			<div>
				<h3>{{ .Title }}</h3>
				{{ if .Date }}<small>{{.Date}}</small>{{end}}
				{{ if .Desc }}<p>{{.Desc}}</p>{{end}}
			</div>
			{{range .Links}}
			<a href="{{.Url}}" target="_blank" rel="noopener noreferrer" class="finding">
				<div>
					<span class="finding__name un">{{ .Name }}</span>
					{{ if .Date }}<small class="finding__date">{{.Date}}</small>{{end}}
				</div>
				<span class="finding__ext {{ if .IsFile }}with-arrow-down{{else}}with-arrow{{end}}">{{ if .IsFile }}.{{ .Ext }}{{end}}</span>
			</a>
			{{end}}
		</div>
	</section>
	{{end}}
	{{if .Client.Findings}}
	<section>
		<div class="findings">
			<div>
				<h3>Findings</h3>
			</div>
			{{range .Client.Findings}}
			<a href="{{.Url}}" target="_blank" rel="noopener noreferrer" class="finding">
				<div>
					<span class="finding__name un">{{ .Name }}</span>
					{{ if .Date }}<small class="finding__date">{{.Date}}</small>{{end}}
				</div>
				<span class="finding__ext with-arrow-down">.{{ .Ext }}</span>
			</a>
			{{end}}
		</div>
	</section>
	{{end}}
{{ range .Posts }}
	{{ if not .IsDraft}}
	<figure class="blog-figure">
		<a href="/blog/{{ .Slug }}.html">
			<figcaption>
				<span>{{ .Title }}</span>
			</figcaption>
		</a>
		<p style="margin-bottom:16px;">on {{ .FormatDate }} by {{range .Authors}}<a href="/team#{{.Handle}}">{{.Name}}</a> {{end}}</p>
		<p>{{ .Description }}</p>
		<small>Reading time: {{ .ReadingTime }} minutes</small>
	</figure>
	{{end}}
{{ end }}
	{{ if gt (len .Client.Team) 1 }}
	<section>
		<h3>Team supporting this Partner</h3>
		<div class="team-avatars">
			{{range .Client.Team}}
			<a href="/team#{{.Handle}}">
				<img
					src="/static/team/{{.Image}}"
					alt="{{.Name}}"
					title="{{.Name}}"
				/>
			</a>
			{{end}}
		</div>
	</section>
	{{end}}

	<div class="client__next-client">
		<label class="label">Next Partner</label>
		<a href="/clients/{{.NextClient.Handle}}">
			<h2 class="with-arrow with-arrow-pink">
				<span>{{.NextClient.Name}}</span>
			</h2>
		</a>
	</div>
</main>
{{end}}
