{{define "head"}}{{end}}
{{define "content"}}
<main>
	<section>
		<div class="client__logo">{{.Client.Image}}</div>
		<h2 class="visuallyhidden">{{.Client.Name}}</h2>
		<p>{{.Client.Body}}</p>
	</section>

	{{if .Client.Findings}}
	<section>
		<div class="findings">
			<div>
				<h3>Findings</h3>
			</div>
			{{range .Client.Findings}}
			<a download href="{{.Url}}" class="finding">
				<div>
					<span class="finding__name un">Download {{ .Name }}</span>
				</div>
				<span class="finding__ext with-arrow-down">.{{ .Ext }}</span>
			</a>
			{{end}}
		</div>
	</section>
	{{end}}

	{{ if gt (len .Client.Team) 1 }}
	<section>
		<h3>Team on this Client</h3>
		<div class="team-avatars">
			{{range .Client.Team}}
			<a href="/team#{{.Handle}}">
				<img
					src="/static/team/{{.Image}}"
					alt="{{.Name}}"
					title="{{.Name}}"
				/>
			</a>
			{{end}}
		</div>
	</section>
	{{end}}

	<div class="client__next-client">
		<label class="label">Next Client</label>
		<a href="/clients/{{.NextClient.Handle}}">
			<h2 class="with-arrow with-arrow-pink">
				<span>{{.NextClient.Name}}</span>
			</h2>
		</a>
	</div>
</main>
{{end}}
