{{define "head"}}{{end}}
{{define "content"}}
<main>
	<section>
		<h1>
			We are a team of scientists and engineers
            researching and implementing blockchain protocols.
		</h1>
		<p>
			We work using rigorous cryptographic techniques to design simple,
			provably secure protocols from first principles and guide their
			implementation. Our consulting and auditing pertain
			to theoretical cryptographic protocol analyses as well as the
			pragmatic auditing of implementations in both core consensus
			technologies and application layer smart contracts.
		</p>
	</section>

	<section>
		<h3>Team</h3>
		<div class="team-avatars">
			{{range .Members}}
			<a href="/team#{{.Handle}}">
				<img
					src="/static/team/{{.ImageLow}}"
					alt="{{.Name}}"
					title="{{.Name}}"
					width="60px"
					height="60px"
					data-loading
				/>
			</a>
			{{end}}
		</div>
		<p>
			Our team consists of both academics and industry professionals. On
			the scientific side, we focus on consensus foundations, with
			specialists in the areas of proof-of-stake, proof-of-work, auctions, Layer-2s,
			sharding, channels, bootstrapping, light clients, wallets, smart
			contracts, interoperability, zero-knowledge, and multiparty computation. On the engineering side, our team
			comprises experts in smart contract development, testing, and
			auditing, full-stack software engineering, devops, and operational
			security. Our team is located across the globe, with members in
			Athens, Barcelona, Budapest, Copenhagen, Edinburgh, London, Munich,
			San Francisco, Thessaloniki, and Vienna.
		</p>

		<a class="with-arrow mbtn mbtn-fit" href="/team">
			<span class="un">Meet the team</span>
		</a>
	</section>

	<section>
		<h3 id="clients">Clients</h3>
		<p>
			We currently work with companies ranging from Layer-1 blockchains to
			smart contract protocols. Our services span from theoretical
			cryptographic design to hands-on engineering, with our expertise
			lying in the junction between both worlds.
			<br />
			<br />
			At the theory level, we analyze protocol design, define the
			desiderata, rigorously document constructions, and pinpoint errors
			in the protocols before helping our clients resolve them. In
			collaboration with our client teams, we show that their protocols
			are secure from a mathematical point of view, by stating and proving
			safety and liveness results in the form of an academic paper.
			<br />
			<br />
			On the implementation side, we ensure the implementation matches the
			theory of the cryptography papers.
			Our teams work on auditing, testing, ensuring code quality, and even
			on developing smart contracts and other kinds of software for our clients.
			At the highest level, we perform due diligence and deliver technical reports,
			helping our clients choose the most appropriate and technically sound
			partners for their business. Lastly, we aid our clients in securing
			their infrastructure by ensuring that their operational security
			practices and devops follow the latest industry best practices.
		</p>

		<div class="clients">
			{{range .Clients}}
			<a href="/clients/{{.Handle}}" class="clients__card">
				<h2 class="visuallyhidden">{{.Name}}</h2>
				{{.Image}}
			</a>
			{{end}}
		</div>
	</section>
</main>
{{end}}
