{{define "head"}}{{end}}

{{define "content"}}
<main class="podcast">
	<div class="podcast-header">
		<h1>{{.Podcast.Title}}</h1>
		<div>{{.Podcast.Subtitle}}</div>
	</div>
	
	<div class="podcast-links">
		<a href="{{.Podcast.SpotifyUrl}}">
			<img src="/static/spotify-icon.png" alt="">
			Spotify
		</a>
		<a href="{{.Podcast.ApplePodcastUrl}}">
			<img src="/static/apple-podcasts-icon.svg" alt="">
			Apple Podcasts
		</a>
		<a href="{{.Podcast.YouTubeUrl}}">
			<img src="/static/youtube-icon.png" alt="">
			YouTube
		</a>
	</div>
	
	<div class="podcast-authors">
		Dionysis Zindros<sup>1</sup>
		{{range .Podcast.Episodes}}
		{{.Guest}}<sup>{{.AffiliationNumber}}</sup>
		{{end}}
	</div>
	
	<div class="podcast-affiliations">
		<sup>1</sup>Common Prefix
		{{range .Podcast.Episodes}}
		<sup>{{.AffiliationNumber}}</sup>{{.Affiliation}}
		{{end}}
	</div>
	
	<div class="podcast-section">
		<h2>1 Executive Summary</h2>
		<p>{{.Podcast.Description}}</p>
		<ol>
			{{range .Podcast.Episodes}}
			<li>{{.Title}} — <a href="{{.GuestURL}}" target="_blank">{{.Guest}}</a>, <a href="{{.AffiliationURL}}" target="_blank">{{.Affiliation}}</a></a></li>
			{{end}}
		</ol>
	</div>
	
	<div class="podcast-section">
		<h2>2 Episodes</h2>
		{{range .Podcast.Episodes}}
		<div class="podcast-episode">
			<h3>
				{{.Number}}. {{.Title}}
				<a href="{{.EpisodeURLs.Spotify}}"><img src="/static/spotify-icon.png" alt="Spotify"></a>
				<a href="{{.EpisodeURLs.ApplePodcasts}}"><img src="/static/apple-podcasts-icon.svg" alt="Apple Podcasts"></a>
				<a href="{{.EpisodeURLs.YouTube}}"><img src="/static/youtube-icon.png" alt="YouTube"></a>
			</h3>
			<p>{{.Description}}</p>
			{{if .Resources}}
			<p>Resources:</p>
			<ul>
				{{range .Resources}}
				<li><a href="{{.Url}}">{{.Name}}</a></li>
				{{end}}
			</ul>
			{{end}}
		</div>
		{{end}}
	</div>
</main>
{{end}}

