{{define "content"}}
<main>
	<section>
		<div class="project__logo">{{.Project.Image}}</div>
		<h2 class="visuallyhidden">{{.Project.Name}}</h2>
		<p>{{.Project.Body}}</p>
	</section>

	{{if .Project.Findings}}
	<section>
		<div class="findings">
			<div>
				<h3>Findings</h3>
			</div>
			{{range .Project.Findings}}
			<a download href="{{.Url}}" class="finding">
				<span class="finding__name">Download {{ .Name }}</span>
				<span class="finding__ext with-arrow-down">.{{ .Ext }}</span>
			</a>
			{{end}}
		</div>
	</section>
	{{end}}

    {{ if gt (len .Project.Team) 1 }}
	<section>
		<h3>Team on this project</h3>
		<div class="team-avatars">
			{{range .Project.Team}}
			<a href="/team#{{.Handle}}">
				<img
					src="/static/team/{{.Image}}"
					alt="{{.Name}}"
					title="{{.Name}}"
				/>
			</a>
			{{end}}
		</div>
	</section>
    {{end}}

	<div class="project__next-project">
		<label class="label">Next Project</label>
		<a href="/projects/{{.NextProject.Handle}}">
			<h2 class="with-arrow with-arrow-pink">
				<span>{{.NextProject.Name}}</span>
			</h2>
		</a>
	</div>
</main>
{{end}}
