{{define "head"}}
<style>
	{{range $tag, $color := .Research.TagToColor}}
        .{{$tag}} {
            background-color: {{$color}};
        }
    {{end}}
</style>
{{end}}
{{define "content"}}
<main>
	<section class="small-container">
		<h1>Our Research</h1>
		<p>
			Our team specializes in the areas of proof-of-stake, proof-of-work, auctions, Layer-2s, sharding, channels, bootstrapping, light clients, wallets, smart contracts, interoperability, zero-knowledge, and multiparty computation.
			Here are some of our team's research highlights.
		</p>
	</section>

	<section>
		<div class="research__filters">
			<p>Filters</p>
			<div class="filter" data-filter="author">
				<span>Author</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
			</div>
			<div class="filter" data-filter="conference">
				<span>Conference</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
			</div>
			<div class="filter" data-filter="tag">
				<span>Tag</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
			</div>
			<button class="clear-all" hidden>Clear all filters</button>
		</div>
	</section>

	<section>
		<div class="research">
			{{range .Research.ResearchPapers}}
			<div class="paper__card" id={{.Handle}}>
				<a href={{.Url}}>
					<h1>{{.Name}}</h1>
				</a>
				<h2 class="authors">
					{{ $length := len .Authors }}
					{{range $index, $element := .Authors}}
						{{ $handle := teamHandle . }}
						<span title="Filter by this author.">{{.}}</span>{{ if $handle }}<a href="/team#{{$handle}}">
							<sup title="View {{.}}'s profile.">❖</sup></a>{{end}}{{if ne $index (sub $length 1)}}, {{end}}
					{{end}}
				</h2>
				<h3 class="conference" data-conf="{{.Conference}}" title="Filter by this conference.">{{.Conference}}<span> {{if .ConferenceYear}}{{.ConferenceYear}}{{end}}</h3>
                {{if .Tags}}
					<ul class="tags">
						{{range .Tags}}
							<button title="Filter by this tag." class="{{.}}">{{.}}</button>
						{{end}}
					</ul>
                {{end}}
			</div>
			{{end}}
		</div>
	</section>
</main>

<script>
const filters = {
	author: '',
	conference: '',
	tag: [],
}

const filterElements = document.querySelectorAll('.filter')
const clearAllBtn = document.querySelectorAll('button.clear-all')

function render() {
	// Show/hide papers based on filters
	papers.forEach(p => {
		let hidden = false
		if(filters.tag.length > 0) {
			hidden = !filters.tag.every(t => p.querySelector(`.${t}`))
		}
		if(filters.conference) {
			hidden = hidden || p.querySelector('.conference').dataset.conf !== filters.conference
		}
		if(filters.author) {
			const hasAuthor = Array.from(p.querySelectorAll('.authors > span')).find(a => a.innerText === filters.author)
			hidden = hidden || !hasAuthor
		}

		p.setAttribute('hidden', hidden)
	});

	// Update filter values
	filterElements.forEach(f => {
		const filter = f.dataset.filter
		const value = filters[filter]
		const el = f.querySelector('.value')
		const discard = f.querySelector('button')
		el.hidden = value.length === 0
		discard.hidden = value.length === 0
		el.innerText = Array.isArray(value) ? value.join(', ') : value
	})

	// Show clear all filters button
	const hasFilters = Object.values(filters).some(f => f)
	document.querySelector('button.clear-all').hidden = !hasFilters
}

// Clear filters on click
filterElements.forEach(f => {
	f.querySelector('button').addEventListener('click', e => {
		const filterName = f.dataset.filter
		if(filterName === 'tag') {
			filters[filterName] = []
		} else {
			filters[filterName] = ''
		}
		render()
	})
})

// Clear all filters on click
clearAllBtn.forEach(c => {
	c.addEventListener('click', e => {
		Object.keys(filters).forEach(k => {
			// reset filters
			if(k === 'tag') {
				filters[k] = []
			} else {
				filters[k] = ''
			}
		})
		render()
	})
})

const tags = document.querySelectorAll('.tags > button');
const papers = document.querySelectorAll('.paper__card');

// Attach tag filters
tags.forEach(t => {
	t.addEventListener('click', e => {
		const tag = e.target.innerText
		if(filters.tag.includes(tag)) {
			filters.tag = filters.tag.filter(t => t !== tag)
		} else {
			filters.tag.push(tag)
		}
		render()
	})
})

papers.forEach(p => {
	// Attach author filters
	p.querySelectorAll('.authors > span').forEach(a => {
		a.addEventListener('click', e => {
			const author = e.target.innerText
			filters.author = author
			render()
		})
	})

	// Attach conference filters
	p.querySelector('.conference').addEventListener('click', e => {
		const conference = e.target.dataset.conf
		filters.conference = conference
		render()
	})
})
</script>
{{end}}
