{{define "head"}}
<style>
	{{range $tag, $color := .Research.TagToColor}}
        .{{$tag}} {
            background-color: {{$color}};
        }
    {{end}}
</style>
{{end}}
{{define "content"}}
<main>
	<section class="small-container">
		<h1>Our Research</h1>
		<p>
			Our team specializes in the areas of proof-of-stake, proof-of-work, auctions, Layer-2s, sharding, channels, bootstrapping, light clients, wallets, smart contracts, interoperability, zero-knowledge, and multiparty computation.
			Here are some of our team's research highlights.
		</p>
	</section>

	<section>
		<div class="research__filters">
			<p>Filters</p>
			<div class="filter" data-filter="author">
				<span>Author</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
				<div class="dropdown" hidden>
					{{range .Research.AllAuthors}}<button title="Filter by this author.">{{.}}</button>{{end}}
				</div>
			</div>
			<div class="filter" data-filter="conference">
				<span>Conference</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
				<div class="dropdown" hidden style="width:calc(100vw-32px);max-width:450px;">
					{{range .Research.AllConferences}}<button title="Filter by this conference.">{{.}}</button>{{end}}
				</div>
			</div>
			<div class="filter" data-filter="tag">
				<span>Tag</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
				<div class="dropdown" style="width:180px;" hidden>
					{{range .Research.AllTags}}<button title="Filter by this tag.">{{.}}</button>{{end}}
				</div>
			</div>
			<div class="filter" data-filter="year">
				<span>Year</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
				<div class="dropdown" style="width:100px;" hidden>
					{{range .Research.AllYears}}<button title="Filter by this year.">{{.}}</button>{{end}}
				</div>
			</div>
			<button class="clear-all" hidden>Clear all filters</button>
		</div>
	</section>

	<section>
		<div class="research">
			{{range .Research.ResearchPapers}}
			<div class="paper__card" id={{.Handle}}>
				<a href={{.Url}}>
					<h1>{{.Name}}</h1>
				</a>
				<h2 class="authors">
					{{ $length := len .Authors }}
					{{range $index, $element := .Authors}}
						{{ $handle := teamHandle . }}
						{{ if $handle }}<div style="display:inline-block"><span title="Filter by this author.">{{.}}</span><a href="/team#{{$handle}}"><sup title="View {{.}}'s profile.">❖</sup></a></div>{{else}}<span title="Filter by this author.">{{.}}</span>{{end}}{{if ne $index (sub $length 1)}}, {{end}}
					{{end}}
				</h2>
				<h3 class="conference" data-conf="{{.Conference}}" data-conf-year={{.ConferenceYear}} title="Filter by this conference.">{{.Conference}}<span> {{if .ConferenceYear}}{{.ConferenceYear}}{{end}}</h3>
                {{if .Tags}}
					<ul class="tags">
						{{range .Tags}}
							<button title="Filter by this tag." class="{{.}}">{{.}}</button>
						{{end}}
					</ul>
                {{end}}
			</div>
			{{end}}
		</div>
	</section>
</main>

<script>
const filters = {
	author: [],
	conference: [],
	tag: [],
	year: [],
}
const filterLogic = {
	author: 'AND',
	conference: 'OR',
	tag: 'AND',
	year: 'OR',
}

let dropdownShown = ''

const filterElements = document.querySelectorAll('.filter')
const clearAllBtn = document.querySelectorAll('button.clear-all')

const tags = document.querySelectorAll('.tags > button');
const papers = document.querySelectorAll('.paper__card');

function render() {
	// Show/hide papers based on filters
	papers.forEach(p => {
		let hidden = false
		if(filters.tag.length > 0) {
			hidden = !filters.tag.every(t => p.querySelector(`.${t}`))
		}
		if(filters.conference.length > 0) {
			const hasConferece = filters.conference.includes(p.querySelector('.conference').dataset.conf)
			hidden = hidden || !hasConferece
		}
		if(filters.author.length > 0) {
			const hasAuthors = filters.author.every(author =>
				// Authors can be in a span or a div > span
					Array.from(p.querySelectorAll('.authors > span')).find(a => a.innerText === author)
			|| Array.from(p.querySelectorAll('.authors > div > span')).find(a => a.innerText === author)
			)
			hidden = hidden || !hasAuthors
		}
		if(filters.year.length > 0) {
			const hasYear = filters.year.includes(p.querySelector('.conference').dataset.confYear)
			hidden = hidden || !hasYear
		}

		p.setAttribute('hidden', hidden)
	});

	// Update filter values
	filterElements.forEach(f => {
		const filter = f.dataset.filter
		const value = filters[filter]
		const el = f.querySelector('.value')
		const discard = f.querySelector('button')
		el.hidden = value.length === 0
		discard.hidden = value.length === 0
		el.innerHTML = (Array.isArray(value) ? value : [value]).map(v => `<span>${v}</span>`).join(filterLogic[filter] ? `<i>${filterLogic[filter]}</i>` : '')
		// el.innerText = Array.isArray(value) ? value.join(', ') : value
	})

	// Show clear all filters button
	const hasFilters = Object.values(filters).some(f => f.length > 0)
	document.querySelector('button.clear-all').hidden = !hasFilters

	// Show/hide dropdowns
	document.querySelectorAll('.dropdown').forEach(d => {
		d.hidden = d.parentElement.dataset.filter !== dropdownShown

		if(window.innerWidth < 600) {
			// 16px padding on the side
			const filterLeft = d.parentElement.getBoundingClientRect().left - 16
			d.style.left = `-${filterLeft}px`
		} else {
			d.style.left = '0px'
		}
	})

	// Highlight dropdown values
	document.querySelectorAll('.dropdown button').forEach(b => {
		const filterName = b.parentElement.parentElement.dataset.filter
		let active = false
		active = filters[filterName].includes(b.innerText)
		b.classList.toggle('active', active)
	})
}

function getFiltersFromSP() {
	// get filters from URL SearchParams
	const url = new URL(window.location.href)
	const searchParams = url.searchParams
	Object.entries(filters).forEach(([key, value]) => {
		const spValue = searchParams.getAll(key)
		if(spValue.length > 0) {
			filters[key] = spValue
		}
	})
}

function syncSP() {
	// sync filters in the URL
	const url = new URL(window.location.href)
	const searchParams = new URLSearchParams()
	Object.entries(filters).forEach(([key, value]) => {
		value.forEach(v => searchParams.append(key, v))
	})
	// replace history
	window.history.replaceState({}, '', `${url.pathname}${searchParams.toString() ? '?' : ''}${searchParams.toString()}`)
}

function setFilter(name, value) {
	if(!filters[name]) {
		console.error(`Filter ${name} does not exist`)
		return
	}
	if(filters[name].includes(value)) {
		filters[name] = filters[name].filter(t => t !== value)
	} else {
		filters[name].push(value)
	}
	syncSP()
	render()
}

filterElements.forEach(f => {
	// Show dropdowns on click
	f.addEventListener('click', e => {
		if(['span', 'div', 'i'].includes(event.target.localName)) {
			dropdownShown = f.dataset.filter
			e.stopPropagation()
			render()
		}
	})


	// Clear filters on click
	f.querySelector('button').addEventListener('click', e => {
		const filterName = f.dataset.filter
		filters[filterName] = []
		dropdownShown = ''
		syncSP()
		render()
	})
})

// Clear all filters on click
clearAllBtn.forEach(c => {
	c.addEventListener('click', e => {
		Object.keys(filters).forEach(k => {
			// reset filters
			filters[k] = []
		})
		syncSP()
		render()
	})
})

// Attach tag filters
tags.forEach(t => {
	t.addEventListener('click', e => {
		setFilter('tag', e.target.innerText)
	})
})

// Dropdowns
document.querySelectorAll('[data-filter=author] .dropdown button').forEach(b => {
	b.addEventListener('click', e => {
		setFilter('author', e.target.innerText)
	})
})
document.querySelectorAll('[data-filter=conference] .dropdown button').forEach(b => {
	b.addEventListener('click', e => {
		setFilter('conference', e.target.innerText)
	})
})
document.querySelectorAll('[data-filter=tag] .dropdown button').forEach(b => {
	b.addEventListener('click', e => {
		setFilter('tag', e.target.innerText)
	})
})
document.querySelectorAll('[data-filter=year] .dropdown button').forEach(b => {
	b.addEventListener('click', e => {
		setFilter('year', e.target.innerText)
	})
})

// Hide dropdowns on outside click
// note: filter clicks will stop propagation so this will not be triggered
document.addEventListener('click', function(event) {
	if(dropdownShown) {
		const filterEl = document.querySelector(`.filter[data-filter="${dropdownShown}"]`)
		const outsideClick = !filterEl.contains(event.target);
		if(outsideClick) {
			dropdownShown = ''
			render()
		}
	}
});

// Papers
papers.forEach(p => {
	// Attach author filters
	p.querySelectorAll('.authors > span').forEach(a => {
		a.addEventListener('click', (e) => {
			setFilter('author', e.target.innerText)
		})
	})

	// Attach conference filters
	p.querySelector('.conference').addEventListener('click', e => {
		let target = e.target
		// conference years are wrapped in span
		// so if the click happened on the year
		// get the parent's dataset
		if(target.nodeName === 'SPAN') {
			target = target.parentElement
		}
		setFilter('conference', target.dataset.conf)
	})
})


// Setup

getFiltersFromSP()
render()


</script>
{{end}}
