{{define "head"}}
<style>
	{{range $tag, $color := .Research.TagToColor}}
        .{{$tag}} {
            background-color: {{$color}};
        }
    {{end}}
</style>
{{end}}
{{define "content"}}
<main>
	<section class="small-container">
		<h1>Our Research</h1>
		<p>
			Our team specializes in the areas of proof-of-stake, proof-of-work, auctions, Layer-2s, sharding, channels, bootstrapping, light clients, wallets, smart contracts, interoperability, zero-knowledge, and multiparty computation.
			Here are some of our team's research highlights.
		</p>
	</section>

	<section>
		<div class="research__filters">
			<p>Filters</p>
			<div class="filter" data-filter="author">
				<span>Author</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
				<div class="dropdown" hidden>
					{{range .Research.AllAuthors}}<button title="Filter by this author.">{{.}}</button>{{end}}
				</div>
			</div>
			<div class="filter" data-filter="conference">
				<span>Conference</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
				<div class="dropdown" hidden style="width:100vw;max-width:450px;">
					{{range .Research.AllConferences}}<button title="Filter by this conference.">{{.}}</button>{{end}}
				</div>
			</div>
			<div class="filter" data-filter="tag">
				<span>Tag</span>
				<span hidden class="value"></span>
				<button hidden title="Clear this filter.">x</button>
				<div class="dropdown" hidden>
					{{range .Research.AllTags}}<button title="Filter by this tag.">{{.}}</button>{{end}}
				</div>
			</div>
			<button class="clear-all" hidden>Clear all filters</button>
		</div>
	</section>

	<section>
		<div class="research">
			{{range .Research.ResearchPapers}}
			<div class="paper__card" id={{.Handle}}>
				<a href={{.Url}}>
					<h1>{{.Name}}</h1>
				</a>
				<h2 class="authors">
					{{ $length := len .Authors }}
					{{range $index, $element := .Authors}}
						{{ $handle := teamHandle . }}
						<span title="Filter by this author.">{{.}}</span>{{ if $handle }}<a href="/team#{{$handle}}">
							<sup title="View {{.}}'s profile.">❖</sup></a>{{end}}{{if ne $index (sub $length 1)}}, {{end}}
					{{end}}
				</h2>
				<h3 class="conference" data-conf="{{.Conference}}" title="Filter by this conference.">{{.Conference}}<span> {{if .ConferenceYear}}{{.ConferenceYear}}{{end}}</h3>
                {{if .Tags}}
					<ul class="tags">
						{{range .Tags}}
							<button title="Filter by this tag." class="{{.}}">{{.}}</button>
						{{end}}
					</ul>
                {{end}}
			</div>
			{{end}}
		</div>
	</section>
</main>

<script>
const filters = {
	author: [],
	conference: '',
	tag: [],
}

let dropdownShown = ''

const filterElements = document.querySelectorAll('.filter')
const clearAllBtn = document.querySelectorAll('button.clear-all')

const tags = document.querySelectorAll('.tags > button');
const papers = document.querySelectorAll('.paper__card');

function render() {
	// Show/hide papers based on filters
	papers.forEach(p => {
		let hidden = false
		if(filters.tag.length > 0) {
			hidden = !filters.tag.every(t => p.querySelector(`.${t}`))
		}
		if(filters.conference) {
			hidden = hidden || p.querySelector('.conference').dataset.conf !== filters.conference
		}
		if(filters.author) {
			const hasAuthors = filters.author.every(author => Array.from(p.querySelectorAll('.authors > span')).find(a => a.innerText === author))
			hidden = hidden || !hasAuthors
		}

		p.setAttribute('hidden', hidden)
	});

	// Update filter values
	filterElements.forEach(f => {
		const filter = f.dataset.filter
		const value = filters[filter]
		const el = f.querySelector('.value')
		const discard = f.querySelector('button')
		el.hidden = value.length === 0
		discard.hidden = value.length === 0
		el.innerText = Array.isArray(value) ? value.join(', ') : value
	})

	// Show clear all filters button
	const hasFilters = Object.values(filters).some(f => f.length > 0)
	document.querySelector('button.clear-all').hidden = !hasFilters

	// Show/hide dropdowns
	document.querySelectorAll('.dropdown').forEach(d => {
		d.hidden = d.parentElement.dataset.filter !== dropdownShown
	})

	// Highlight dropdown values
	document.querySelectorAll('.dropdown button').forEach(b => {
		const filterName = b.parentElement.parentElement.dataset.filter
		let active = false
		if(filterName === 'conference') {
			active = filters[filterName] === b.innerText
		} else {
			active = filters[filterName].includes(b.innerText)
		}
		b.classList.toggle('active', active)
	})
}

function handleTagClick(e) {
	const tag = e.target.innerText
	if(filters.tag.includes(tag)) {
		filters.tag = filters.tag.filter(t => t !== tag)
	} else {
		filters.tag.push(tag)
	}
	render()
}

function handleAuthorClick(e) {
	const author = e.target.innerText
	if(filters.author.includes(author)) {
		filters.author = filters.author.filter(a => a !== author)
	} else {
		filters.author.push(author)
	}
	render()
}

filterElements.forEach(f => {
	// Show dropdowns on click
	f.addEventListener('click', e => {
		if(['span', 'div'].includes(event.target.localName)) {
			dropdownShown = f.dataset.filter
			render()
		}
	})


	// Clear filters on click
	f.querySelector('button').addEventListener('click', e => {
		const filterName = f.dataset.filter
		if(filterName === 'conference') {
			filters[filterName] = ''
		} else {
			filters[filterName] = []
		}
		dropdownShown = ''
		render()
	})
})

// Clear all filters on click
clearAllBtn.forEach(c => {
	c.addEventListener('click', e => {
		Object.keys(filters).forEach(k => {
			// reset filters
			if(k === 'conference') {
				filters[k] = ''
			} else {
				filters[k] = []
			}
		})
		render()
	})
})

// Attach tag filters
tags.forEach(t => {
	t.addEventListener('click', e => {
		handleTagClick(e)
	})
})

// Dropdowns
document.querySelectorAll('[data-filter=author] .dropdown button').forEach(b => {
	b.addEventListener('click', e => {
		dropdownShown = ''
		handleAuthorClick(e)
	})
})
document.querySelectorAll('[data-filter=conference] .dropdown button').forEach(b => {
	b.addEventListener('click', e => {
		dropdownShown = ''
		filters.conference = e.target.innerText
		render()
	})
})
document.querySelectorAll('[data-filter=tag] .dropdown button').forEach(b => {
	b.addEventListener('click', e => {
		dropdownShown = ''
		handleTagClick(e)
	})
})

// Hide dropdowns on outside click
document.addEventListener('click', function(event) {
	if(dropdownShown) {
		const filterEl = document.querySelector(`.filter[data-filter="${dropdownShown}"]`)
		const outsideClick = !filterEl.contains(event.target);
		if(outsideClick) {
			dropdownShown = ''
			render()
		}
	}
});

// Papers
papers.forEach(p => {
	// Attach author filters
	p.querySelectorAll('.authors > span').forEach(a => {
		a.addEventListener('click', handleAuthorClick)
	})

	// Attach conference filters
	p.querySelector('.conference').addEventListener('click', e => {
		const conference = e.target.dataset.conf
		filters.conference = conference
		render()
	})
})
</script>
{{end}}
